@import "tailwindcss";

@plugin "@tailwindcss/typography";

@tailwind utilities;

.animate-circle{
    animation:animate 2s 2s linear;
}
.filter-box::-webkit-scrollbar {
    width: 0px;   
    background: transparent;
}
.revert-tailwind {
  all: initial;
  box-sizing: border-box; 
}

.revert-tailwind > * {
  all: revert;
}

@keyframes animate{
    0%{
    transform: translateX(-100px);
    }
    45%{
        transform: translateX(0px);
    }
    75%{
        transform: rotateY(180deg);
    }   
}
