@import "tailwindcss";

/* Load Typography plugin */
@plugin "@tailwindcss/typography";

/* Now generate Tailwind utilities */
@tailwind utilities;

.animate-circle{
    animation:animate 2s 2s linear;
}
.filter-box::-webkit-scrollbar {
    width: 0px;   /* hides the scrollbar */
    background: transparent; /* optional */
}
.revert-tailwind {
  all: initial;
  box-sizing: border-box; /* Preflight default that you likely still want */
}

.revert-tailwind > * {
  all: revert;
}

@keyframes animate{
    0%{
    transform: translateX(-100px);
    }
    45%{
        transform: translateX(0px);
    }
    75%{
        transform: rotateY(180deg);
    }   
}
